body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
}

nav ul li:hover > ul {
    display: inherit;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    width: 100%;
    bottom: 0;
}


.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.destination {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.destination img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.destination h3 {
    color: #333;
}

.destination p {
    color: #666;
}





/* paquetes*/

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.package {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.package img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.package h3 {
    color: #333;
}

.package p {
    color: #666;
}

.package .price {
    color: #ff6600;
    font-weight: bold;
}

.package .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.package .btn:hover {
    background-color: #555;
}
